
<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }, html: {class: 'section'}) do |f| %>
  <div class="container">
    <h2 class="title"><%= t('.resend_confirmation_instructions') %></h2>
    <% if resource.errors.any? %>
      <div class="message is-danger">
        <div class="message-body">
          <%= devise_error_messages! %>
        </div>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :email, class: 'label' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input is-medium', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>

    <div class="actions">
      <%= f.submit t('.resend_confirmation_instructions'), class: 'button is-link' %>
    </div>
  </div>
<% end %>

<div class="container">
  <%= render "devise/shared/links" %>
</div>
