
<%= form_for(@user, url: edit_staff_only_user_path , html: { method: :put }, html: {class: 'section'}) do |f| %>
  <div class="container">
    <h2><%= @user.name %></h2>

    <div class="field">
      <%= f.label :email, class: 'label' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input is-medium' %>
    </div>

    <div class="field">
      <%= f.label :password, class: 'label' %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i>
      <%= f.password_field :password, autocomplete: "off", class: 'input is-medium' %>
      <% if @minimum_password_length %>
        <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class: 'label' %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'input is-medium'  %>
    </div>

    <div class="field">
      <%= f.label :current_password, class: 'label' %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes') %>)</i>
      <%= f.password_field :current_password, autocomplete: "off", class: 'input is-medium'  %>
    </div>

    <div class="actions">
      <%= f.submit t('.update'), class: 'button is-link' %>
    </div>
  </div>
<% end %>
<div class="container">
<%= link_to t('devise.shared.links.back'), :back %>
</div>
