<div class="container">
  <%= link_to t('staff_only.index.view_all_roles'), staff_only_users_path, class: 'button is-link' if params[:role]%>
  <table class='table is-fullwidth is-striped'>
    <thead>
      <tr>
        <th><%= t('staff_only.shared.name') %></th>
        <th><%= t('staff_only.shared.role') %></th>
        <th><%= t('staff_only.shared.created_at') %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= link_to user.name, staff_only_user_path(user) %>
          </td>
          <td>
            <%= link_to user.role, staff_only_users_path(role: user.role) %>
          </td>
          <td>
            <%= I18n.l(user.created_at) %>
          </td>
        </tr>
      <%end%>
    </tbody>
  </table>
  <%= paginate @users, outer_window: 1 %>
</div>
