<div class='navbar is-info' id='header'>
  <div class='navbar-brand'>
    <%= link_to 'Kaku-tail Uploader', uploaded_files_path, class:'navbar-item is-size-3'%>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class='navbar-menu'>
    <div class='navbar-end'>
      <% if user_signed_in?	%>
        <div class='navbar-item has-dropdown is-hoverable'>
          <a class='navbar-link'>
            <%= current_user.display_name %>
          </a>
          <div class="navbar-dropdown is-right">
            <%= link_to t("devise.user_info.edit"), edit_user_registration_path, class: 'navbar-item' %>
            <%= link_to t("staff_only.index.title"), staff_only_users_path, class: 'navbar-item' if current_user.staff? %>
            <hr class="dropdown-divider">
            <%= button_to t("devise.sessions.sign_out"), destroy_user_session_path, method: :delete, class: 'navbar-item button is-fullwidth is-warning' %>
            </div>
          </div>
        </div>
      <% else %>
        <div class='navbar-item'>
          <%= link_to t("devise.shared.links.sign_up"), new_user_registration_path %>
        </div>
        <div class='navbar-item'>
          <%= link_to t("devise.shared.links.sign_in"), new_session_path(resource_name) %>
        </div>
      <% end %>
    </div>
  </div>
</div>