<div class="container">
  <%= link_to t('uploaded_files.index.upload_form'), new_uploaded_file_path, class: 'button is-link' %>
  <table class='table is-fullwidth is-striped'>
    <thead>
      <tr>
        <th><%=t('uploaded_files.shared.file_name')%></th>
        <th><%=t('uploaded_files.shared.created_at')%></th>
        <% if current_user.staff? %>
          <th><%=t('uploaded_files.shared.upload_user')%></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @uploaded_files.each do |uploaded_file| %>
        <tr>
          <td>
            <%= link_to uploaded_file.file_name, uploaded_file %>
          </td>
          <td>
            <%= I18n.l(uploaded_file.created_at) %>
          </td>
        <% if current_user.staff? %>
            <td><%= uploaded_file.user.display_name%></td>
        <% end %>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>