<div class="container">
  <% if !current_user.name.present? %>
    <article class="message is-warning">
      <div class="message-body">
        <%= link_to t('uploaded_files.index.require_name'), edit_user_registration_path %>
      </div>
    </article>
  <% end %>
  <% if current_user.uploaded_file.present? %>
    <article class="message is-warning">
      <div class="message-body">
        <%= t('uploaded_files.index.file_already_exists_warning') %>
      </div>
    </article>
  <% else %>
    <%= link_to t('uploaded_files.index.upload_form'), new_uploaded_file_path, class: 'button is-link' %>
  <% end %>
  <%= link_to t('uploaded_files.index.view_all_files'), uploaded_files_path, class: 'button is-link' if params[:user_id]%>
  <table class='table is-fullwidth is-striped'>
    <thead>
      <tr>
        <th><%=t('uploaded_files.shared.file_name')%></th>
        <th><%=t('uploaded_files.shared.created_at')%></th>
        <% if current_user.staff? %>
          <th><%=t('uploaded_files.shared.upload_user')%></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @uploaded_files.each do |uploaded_file| %>
        <tr>
          <td>
            <%= link_to uploaded_file.file_name, uploaded_file %>
          </td>
          <td>
            <%= I18n.l(uploaded_file.created_at) %>
          </td>
        <% if current_user.staff? %>
            <td>
              <%= link_to uploaded_file.user.display_name, uploaded_files_path(user_id: uploaded_file.user.id) %>
            </td>
        <% end %>
        </tr>
      <%end%>
    </tbody>
  </table>
  <%= paginate @uploaded_files, outer_window: 1 %>
</div>