<%= form_for(@uploaded_file, html: {class: 'section'}) do |f| %>
  <div class="container">
    <%= render partial: 'shared/error_messages', locals: {model: @uploaded_file} %>

    <div class="container">
      <%= f.label t('uploaded_files.new.select_file'), class: 'label' %>
      <div class="field">
        <div class="FileInput"></div>
        <p>
          <%= t('uploaded_files.new.size_limit')%>
        </p>
        <div class="UppyProgress"></div>
      </div>
    </div>

    <div class="field">
      <%= f.label t('uploaded_files.shared.file_name'), class: 'label' %>
      <%= f.text_field :file_name, class: 'input is-medium', readonly: true %>

      <%= f.label t('uploaded_files.shared.15sec'), class: 'label' %>
      <%= f.text_field :start_of_15sec, class: 'input is-medium', placeholder: '96.1' %>
      <%= f.label t('uploaded_files.shared.30sec'), class: 'label' %>
      <%= f.text_field :start_of_30sec, class: 'input is-medium', placeholder: '87.6'  %>
      <%= f.label t('uploaded_files.shared.60sec'), class: 'label' %>
      <%= f.text_field :start_of_60sec, class: 'input is-medium', placeholder: '76.5'  %>
      <details>
        <summary><%= t('uploaded_files.shared.summary_for_frame') %></summary>
        <%= f.label t('uploaded_files.shared.15sec_by_frame'), class: 'label' %>
        <%= f.text_field :start_of_15sec_by_frame, class: 'input is-medium', placeholder: '346' %>
        <%= f.label t('uploaded_files.shared.30sec_by_frame'), class: 'label' %>
        <%= f.text_field :start_of_30sec_by_frame, class: 'input is-medium', placeholder: '315' %>
        <%= f.label t('uploaded_files.shared.60sec_by_frame'), class: 'label' %>
        <%= f.text_field :start_of_60sec_by_frame, class: 'input is-medium', placeholder: '283' %>
      </details>

      <%= f.label t('uploaded_files.shared.comment'), class: 'label' %>
      <%= f.text_field :comment, class: 'input is-medium' %>
    </div>

    <%= f.hidden_field :file_data %>

    <div class="actions">
      <%= f.submit t('.upload'), class: 'button is-link' %>
    </div>
  </div>
<% end %>
