<div class="container">
  <table class='table is-fullwidth is-striped'>
    <tr>
      <th><%= t('uploaded_files.shared.file_name')%></th>
      <td><%= @uploaded_file.file_name %></td>
    </tr>
    <tr>
      <th><%= t('uploaded_files.shared.created_at')%></th>
      <td><%= I18n.l(@uploaded_file.created_at) %></td>
    </tr>
    <tr>
      <th><%= t('uploaded_files.show.timepoints')%></th>
      <td>
        <table>
          <tr>
            <th><%= t('uploaded_files.show.method')%></th>
            <th><%= t('uploaded_files.show.15sec')%></th>
            <th><%= t('uploaded_files.show.30sec')%></th>
            <th><%= t('uploaded_files.show.60sec')%></th>
          </tr>
          <tr>
            <td><%= t('uploaded_files.show.by_sec')%></td>
            <td><%= @uploaded_file.start_of_15sec%></td>
            <td><%= @uploaded_file.start_of_30sec%></td>
            <td><%= @uploaded_file.start_of_60sec%></td>
          </tr>
          <% if @uploaded_file.start_of_15sec_by_frame.present? %>
            <tr>
            <td><%= t('uploaded_files.show.by_frame')%></td>
            <td><%= @uploaded_file.start_of_15sec_by_frame%></td>
            <td><%= @uploaded_file.start_of_30sec_by_frame%></td>
            <td><%= @uploaded_file.start_of_60sec_by_frame%></td>
            </tr>
          <%end%>
        </table>
      </td>
    </tr>
    <tr>
      <th><%= t('uploaded_files.shared.upload_user')%></th>
      <td><%= @uploaded_file.user.name %></td>
    </tr>
    <tr>
      <th><%= t('uploaded_files.show.file_size')%></th>
      <td><%= @uploaded_file.file_size_by_megabytes %>MB (<%= @uploaded_file.file.size %>Byte)</td>
    </tr>
  </table>
  <%=link_to t('uploaded_files.show.download'), @uploaded_file.file_url, class: 'button is-link'%>
  <% if current_user.admin_role? || @uploaded_file.user == current_user %>
    <%=button_to t('uploaded_files.show.delete'), { :action => "destroy", :id => @uploaded_file.id },
    data: {confirm: t('uploaded_files.show.delete_confirm')}, method: :delete, class: 'button is-danger'%>
  <% end%>
</div>
