<div class="container">
  <table class='table is-fullwidth is-striped'>
    <tr>
      <th><%= t('uploaded_files.shared.file_name')%></th>
      <td><%= @uploaded_file.file_name %></td>
    </tr>
    <tr>
      <th><%= t('uploaded_files.shared.created_at')%></th>
      <td><%= I18n.l(@uploaded_file.created_at) %></td>
    </tr>
    <tr>
      <th><%= t('uploaded_files.shared.upload_user')%></th>
      <td><%= @uploaded_file.user.display_name %></td>
    </tr>
  </table>
  <%=link_to t('uploaded_files.show.download'), @uploaded_file.file_url, class: 'button is-link'%>
  <% if current_user.admin_role? || @uploaded_file.user == current_user %>
    <%=button_to t('uploaded_files.show.delete'), { :action => "destroy", :id => @uploaded_file.id },
    data: {confirm: t('uploaded_files.show.delete_confirm')}, method: :delete, class: 'button is-danger'%>
  <% end%>
</div>
