<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'section'}) do |f| %>
  <div class="container">
    <h2><%= t('.sign_in') %></h2>
    <%= f.label :email, class: 'label' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input is-medium' %>

    <%= f.label :password, class: 'label' %>
    <%= f.password_field :password, autocomplete: "off", class: 'input is-medium' %>
    <% if devise_mapping.rememberable? -%>
      <%= f.check_box :remember_me, class: 'checkbox' %>
      <%= f.label :remember_me %>
    <% end -%>

    <div class="actions">
      <%= f.submit t('.sign_in'), class: 'button is-link' %>
    </div>
  </div>
<% end %>

  <div class="container">
    <%= render "devise/shared/links" %>
  </div>